<h3>This is header</h3>

<ul class="navMenu">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/help">Help</a></li>
    <li><a href="/weather">Weather</a></li>
</ul>